* {
	/*border: solid red 1px;*/
}

body {
	background-color: #fff;
}

button {
	background-color: rgba(255, 255, 255, 1);
	border: none;
}

ul{
	background-color: rgba(255, 255, 255, 1);
	padding: 0 0 0 0;
}

li {
	margin: 5px;
	list-style: none;
}

li.dropdown {
	margin: 0px;
	border: none;
}
input {
	background-color: #fff;
}

h3 {
	margin: 20px 0 20px;
}

.cell-inner {
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #fff;
}


.cell-item {
	margin: 0px;
	padding: 0px;
	border: none;
	height: 100%;
}

.street-view {
	margin: 10px auto;
}

.cell-container {
	margin: 5px;
}

.container {
	margin: 0;
	width: 100%;
}

.show-on-map {
	font-style: bold;
	border: solid black 1px;
}

.show-on-map:hover {
	color: #fff;
	font-style: bold;
	border: solid white 1px;
	background-color: #e03934
}
a .show-on-map {
	font-style: bold;
	color: #000;
}

a .show-on-map :hover {
	font-style: bold;
	color: #fff;
}

.dropdown-menu {
	border-radius: 0px;
	margin: 0px;
	background-color: rgba(255, 255, 255, 1);
}

.item-list {
	height: auto;
	width:250px;
	max-height: 70vh;
	overflow-x: hidden;
}

.food-list-item {
	margin: 0;
	padding: 10px 5px;
}

.food-list-item:hover {
	color: #fff;
	background-color: #E03934;
}

.hidden {
	visibility: hidden;
}

.form-control {
	display: inline-block;
}

#navbar .form-control {
	margin: 5px 5px 5px 15px;
}

.form-control:focus {
	border-color: #F58A2C;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.list-scroll {
	padding: auto;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-nav {
	margin-bottom: 0;
}

.nav-button {
	border-radius: 0;
}

.navbar-collapse.in {
	margin-left: 0;
}

.icon-bar {
	border: solid black 1px;
}

.info-window {
	max-width: 200px;
	text-align: center;
}

.marker-label,
.marker-icon {
    z-index: 99;
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    font-size: 25px !important;
    text-align: center;
    color: #000;
    white-space: nowrap;
}

.text-blocks {
	background-color: #e9e5dc;
}

/* specs for google maps */
html,
body,
#map-canvas {
	height: 95vh;
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 500px;
}

.page-start {
	height: 100vh;
	width: 100%;
	background: #e9e5dc;
	/*background-image: url('../img/city-background.jpg');*/
	background-position: center;
	text-align: right;
	background: linear-gradient(0deg, #fff, transparent 90%),
				#fff url(../img/city-background.jpg) no-repeat center;
	background-size: cover;
}

#page-main {
	height: 100vh;
}

#logo {
	text-align: center;
	margin-top: 12vh;
	color: #fff;
}

#location-title {
	color: #e03934;
}

#src-div {
	margin: 25vh;
	margin-left: auto;
	margin-right: auto;
}

#src-input {
	width: auto;
}

#navbar {
	z-index: 1000;
	background-color: #333;
	border: none;
}

.nav-label {
	padding: 0 0 0 12px;
}

.navbar h3 {
	margin-bottom: 0;
	line-height: .75;
}

.navbar {
	width: 100%;
}

.nav {
	background-color: #333;
	width: 100%;
	padding: 0;
}

#logo-2 {
	text-align: right;
	vertical-align: middle;
}

.nav button {
	background-color: #333;
	color: #fff;
	width: 95px;
	margin: 0 5px 0 5px;
	padding: 12px 0 12px 0;
	border: none;
	height: 100%;
}

.nav button:hover,
.nav button:focus {
	background-color: #e03934;
	color: #fff;
}

.nav-search{
	/*width: 100%;*/
	display: inline-block;
}

/*.sticky-wrapper {
	min-height: none;
	height: none;
}*/

#navbar-sticky-wrapper {
	min-height: none;
	height: none;
}

.btn-default {
	border: none;
}

.glyphicon-pushpin {
	/*transform: rotate(45deg);*/
	transform: rotate(0deg);
}

.glyphicon-pushpin.on {
	transform: rotate(-45deg);
}

@media (max-width: 767px) {
	.navbar-header {
		background-color: #333;
	}

	.icon-bar {
		border: solid white 1px;
	}

	#logo-2 {
		visibility: hidden;
	}

	#nav1 {
		background-color: #e03934;
		width: 100%;
	}

	.nav-label {
		text-align: right;
		margin-right: 15px;
	}

	.navbar {
		border-radius: none;
	}

	.form-control {
		/*max-width: 50%;*/
		margin: 0 auto;
	}

	.btn {
		border-radius: 5px 5px 0 0;
		/*font-size: 7pt;*/
	}

	.nav {
		padding: 0 auto;
		margin: 0 auto;
	}

	.nav button {
		width: 50px;
	}
}
@media (min-width: 768px) {
	.navbar {
	    border-radius: 0 0 0 0;
	}
}