* {
	/*border: solid red 1px;*/
}

body {
	box-sizing: border-box;
}

button {
	background-color: rgba(255, 255, 255, 1);
	border: none;
}

/*input {
	background-color: #fff;
}*/

ul{
	background-color: rgba(255, 255, 255, 1);
	padding: 0 0 0 0;
}

li {
	margin: 5px;
	list-style: none;
}

li.dropdown {
	margin-bottom: 0px;
}
input {
	background-color: #fff;
}

h3 {
	margin: 20px 0 20px;
}

.nav-button {
	border-radius: 8px 8px 0 0;
}

.cell-inner-food {
	/*background-color: #e9e5dc;*/
	margin: 10px;
	padding: 10px;
	/*border: solid #CFB788 2px;*/
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #fff;
}

.cell-inner-art {
	background-color: #eadb9d;
	margin: 10px;
	padding: 10px;
	border-radius: 8px
}

.cell-item {
	/*background-color: #e9e5dc;*/
	margin: 0px;
	padding: 0px;
	border: none;
	height: 100%;
}

.cell-container {
	margin: 5px;
	/*max-width: 200px;*/
}

.container {
	margin: 0;
	width: 100%;
}

.dropdown-menu {
	border-radius: 0px;
	margin: 0px;
	background-color: rgba(255, 255, 255, 1);
}

.item-list {
	height: auto;
	max-height: 70vh;
	overflow-x: hidden;
}

.food-list-item:hover {
	background-color: #c8d8a8;
}

.form-control:focus {
	border-color: #F58A2C;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.list-scroll {
	padding: auto;
}

.navbar {
	margin-bottom: 0px;
}

.icon-bar {
	border: solid black 1px;
}

.info-window {
	max-width: 200px;
	text-align: center;
}
.grid-sizer,
.grid-item {
	width: 20%;
}

.map-icon-food {
	color: #ffffff;

}

.marker-label,
.marker-icon {
    z-index: 99;
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    font-size: 25px !important;
    text-align: center;
    color: #000;
    white-space: nowrap;
}

.text-blocks {
	background-color: #e9e5dc;
}

/* specs for google maps */
html,
body,
#map-canvas {
	height: 80vh;
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 500px;
}

#page-start {
	height: 100vh;
	width: 100%;
	background: #fff;
	background-image: url('../img/city-background.jpg');
	background-position: center;
	text-align: right;
	background: linear-gradient(0deg, #fff, transparent 90%),
				#fff url('../img/city-background.jpg') no-repeat center;
	background-size: cover;
}

#page-main {
	height: 100vh;
}

#logo {
	text-align: center;
	/*padding-top: 80vh;*/
	color: #fff;
}

#location-title {
	color: #F58A2C;
}

#src-form {
/*	margin-top: 100%;
	margin-bottom: 100%;*/
	/*padding-top:45vh;*/
}
#src-div {
	/*height: 100%;*/
	/*text-align: center;*/
	margin: 40vh 40vw;
	/*display: inline-block;*/
}

#src-input {
	width: auto;
}

#nav {
	background-color: rgba(255, 255, 255, 0.5);
}

#logo-2 {
	text-align: right;
	vertical-align: middle;
}

#nav1:hover,
#nav1:focus {
	background-color: #c8d8a8;
	color: #fff;
}

#nav2:hover,
#nav2:focus {
	background-color: #f1b235;
	color: #fff;
}

#nav3:hover,
#nav3:focus {
	background-color: #a2bddb;
	color: #fff;
}

@media (max-width: 650px) {
	#src-div {
		/*height: 100%;*/
		/*text-align: center;*/
		margin: 50px;
		/*display: inline-block;*/
	}
	.text-blocks {
		/*visibility: hidden;*/
	}

	#logo-2 {
		visibility: hidden;
	}
}